ion-tab-bar {
  --border: 0;
  --background: var(--satu-color);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 65px;
}

/* Semua */
ion-tab-button {
  --color: var(--text-light);
  --background: var(--satu-color);
  --color-selected: var(--dua-color);
}

/*  Tab active */
ion-tab-button.tab-selected {
  --color: var(--dua-color);
}

ion-tab-button.tab-selected ion-icon {
  color: var(--dua-color);
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

ion-tab-button.tab-selected ion-label {
  color: var(--dua-color);
  font-weight: 600;
}