.order-content {
  --background: var(--satu-color);
}

.order-body {
  display: block;
  width: 100%;
  clear: both;
  margin-top: 10px;
  padding-bottom: 90px;
}

.order-content .menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-segment {
  margin-top: 10px;
  padding-bottom: 10px;
  background: transparent;
}

.custom-segment ion-segment-button {
  --indicator-color: var(--dua-color);
  --color: var(--text-light);
  --color-checked: var(--bg-light);
  --border-radius: 12px;
  min-height: 44px;
}