:root {
  /* --- Brand Colors --- */
  --satu-color: #131313;
  --dua-color: #f3580acf;
  --dua-color-rgb: 243, 88, 10;
  --dua-color-hover: #d14a07;

  /* --- Neutral Colors --- */
  --text-dark: #333333;
  --text-light: #888888;
  --bg-light: #e7e8ea;
  --card-bg: #f1f1f1;

  /* --- Ionic Global Overrides --- */
  --ion-color-primary: var(--dua-color);
  --ion-background-color: var(--satu-color);
}

